.error-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.error-icon{
    height: 4em;
    width: 4em;
}
.error-message-title{
    font-size: 1.5em;
    padding-top: 0.1em;
    font-family: poppins-medium;
    background-color: white;
}