.create-property-wrapper{
    height: 100%;
    overflow: auto;
    overflow: overlay;
    background-image: url('../../../assets/background-images/admin-landing-page.jpg');
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
.outer-container{
    background: rgba(250, 250, 250, 0.9);
    border-radius: 14px;
    padding: 3em;
    width: 95%;
    max-width: 800px;
    margin: 2em auto;
    height: 100%;
    overflow: auto;
}
.section-container{
    /* height:100vh; */
}
.property-details-container{
    background-color: yellowgreen;
}
.property-location-container{
    background-color: teal;
}
.property-feature-container{
    background-color: violet;
}
.scroll-menu{
    position: fixed;
    top:6.1em;
    right:8px;
    border-right: solid #e0e0e0 1px;
    border-collapse: collapse;
    overflow: hidden;
}
.scroll-menu-items{
    transform: translateX(75%);
    transition: 0.3s ease-in-out;
    padding: 0.6em;
    background-color: #fcfcfc;
    border:solid #e0e0e0 1px;
    border-radius: 4px;
    align-items: center;
}
.scroll-menu-items:hover{
    transform: translateX(0%);
    cursor: pointer;
    background: #bcbc;
}
.scroll-button-icon{
    height: 2em;
    margin: 0.3em 1em 0 0;
}
.form-content-wrapper{
    overflow: auto;
    height: 100%;
}
.form-content-wrapper .property-details ::ng-deep .header-container{
    padding-top: 0;
}
.dropdown-container{
    width: 50%;
    padding-bottom: 2em;
    min-width: 10em;
    flex-shrink: 0;
    padding-right: 2em;
}
.bhk-wrapper span{
    padding-right: 1.5em;
}
.input-field-wrapper{
    width: 50%;
    min-width: 21em;
    flex-shrink: 0;
    padding-right: 2em;
}
.input-field-container{
    width: 100%;
    padding: 0 0 1.5em 0;
    
}
.input-field-container .input-field{
    padding: 0.5em;
    border: solid #737373 1px;
    border-radius: 5px;
}
.map-content-wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.5em;
}
.map-container{
    width: 100%;
    border: solid #737373 1px;
    height: 86%;
    /* margin-right: 2em; */
    /* border-bottom: crimson; */
    background: #fff;
    border-radius: 5px;
    margin-top: 0.5em;
}
.property-features .input-field-container{
    width: 100%;
    padding: 0;
}
.property-features .input-container{
    width: 50%;
    flex-shrink: 0;
    min-width: 21em;
    padding: 0 2em 2.5em 0;
}
.property-features .input-proxy{
    border-bottom: solid #707070 1px;
    padding: 0.1em;
}
.input-proxy .input{
    border: none;
    width: 100%;
    padding: 0.7em;
    background: transparent;
}
.input-proxy span{
    flex-shrink: 0;
    padding: 0.7em;
}