.create-property-wrapper{
    height: 100%;
    overflow: auto;
    overflow: overlay;
    background-image: url('../../../assets/background-images/admin-landing-page.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.outer-container{
    background: rgba(250, 250, 250, 0.9);
    margin: 2em 5em;
    border-radius: 14px;
    padding: 3em;
}
.section-container{
    height:100vh;
}
.property-details-container{
    background-color: yellowgreen;
}
.property-location-container{
    background-color: teal;
}
.property-feature-container{
    background-color: violet;
}
.scroll-menu{
    position: fixed;
    top:6.1em;
    right:8px;
    border-right: solid #e0e0e0 1px;
    border-collapse: collapse;
    overflow: hidden;
}
.scroll-menu-items{
    transform: translateX(75%);
    transition: 0.3s ease-in-out;
    padding: 0.6em;
    background-color: #fcfcfc;
    border:solid #e0e0e0 1px;
    border-radius: 4px;
    align-items: center;
}
.scroll-menu-items:hover{
    transform: translateX(0%);
    cursor: pointer;
    background: #bcbc;
}
.scroll-button-icon{
    height: 2em;
    margin: 0.3em 1em 0 0;
}
.type-menu-items{

}