<div class="signup-page-wrapper">
    <div class="signup-content-wrapper">
        <div class="flex flex-wrap form-wrapper">
            <div class="form-container">
                <div class="input-field-container access-role-field">
                    <mat-icon class="input-icon">supervisor_account</mat-icon>
                    <div class="access-role-label">I want to sign up as:</div>
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip>User</mat-chip>
                        <mat-chip>Broker</mat-chip>
                    </mat-chip-list>
                </div>
                <div class="input-field-container">
                    <mat-icon class="input-icon">account_circle</mat-icon>
                    <input class="input-field" type="text" name="firstName" placeholder="First Name" autocomplete="off">
                </div>
                <div class="input-field-container">
                    <mat-icon class="input-icon">account_circle</mat-icon>
                    <input class="input-field" type="text" name="lastname" placeholder="Last Name" autocomplete="off">
                </div>
                <div class="input-field-container">
                    <mat-icon class="input-icon">phone</mat-icon>
                    <input class="input-field" type="text" name="phone" placeholder="Phone Number" autocomplete="off">
                </div>
                <div class="input-field-container">
                    <mat-icon class="input-icon">email</mat-icon>
                    <input class="input-field" type="text" name="email" placeholder="Email" autocomplete="off">
                </div>
                <div class="input-field-container">
                    <mat-icon class="input-icon">lock</mat-icon>
                    <input class="input-field" type="text" name="password" placeholder="Password" autocomplete="off">
                </div>
                <div class="input-field-container">
                    <mat-icon class="input-icon">repeat</mat-icon>
                    <input class="input-field" type="password" name="rePassword" placeholder="Repeat Password" autocomplete="off">
                </div>
                <div class="signup-btn">Signup</div>
            </div>
            <div class="image-container">
                <img src="assets/background-images/signup-image.jpg" alt="">
                <p>Already a member ?</p> <span class="login-link" [routerLink]="['/home/login']">Login</span>
            </div>
        </div>
    </div>
</div>
