.home-wrapper{
    height: 100%;
    overflow: auto;
    overflow: overlay;
}
.welcome-screen{
    width: 100%;
    min-height: 50em;
    background-image: url('../../../assets/background-images/home-background.jpg');
    background-size: cover;
    background-position:center center;
}

.overlay-text-container{
    transform: translateY(-50%);
    max-width: 39em;
    top: 50%;
    position: absolute;
    right: 10%;
    padding: 2em;
    transform-style: preserve-3d;
}
.page-caption{
    font-size: 4em;
   color: #353535;
   font-family: poppins-bold;
   text-align: center;
}
.welcome-caption{
    line-height: 2;
    font-family: poppins-light;
    /* padding-left: 1em; */
    padding-bottom: 3em;
}
.learn-more-btn{
    align-items: center;
    padding: 1em 2em;
    background: #353535;
    border-radius: 22px;
    color: #fff;
    margin-right: 1em;
}
.learn-more-arrow{
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
    transform: rotate(90deg);
}
.see-properties-btn {
    align-items: center;
    padding: 1em 2em;
    border-radius: 22px;
    color: #353535;
    border: solid #353535 1px;
}
.see-properties-arrow{
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
}
.about-us-wrapper,.latest-property-section,
.services-section{
    max-width: 1920px;
    margin: auto;
    padding: 0 8em 10em;
    flex-wrap: wrap;
}
.about-us-wrapper{
    padding: 10em 8em 10em;
}
.about-us-content{
    width: 50%;
}
.about-us-desc>p{
    padding-top: 0.5em;
    line-height: 1.4;
}
.section-title{
    font-size: 2em;
    font-family: poppins-bold;
    padding-bottom: 0.5em;
}
.about-us-image-wrapper{
    width: 50%;
}
.about-us-image-container{
    border-radius: 50%;
    box-shadow: 7px 2px 10px 0px #e6e6e6;
    overflow: hidden;
    padding: 2em 6em;
    height: 27em;
    width: 23em;
}
.about-us-image{
    height: 29em;
    width: auto;
}
.latest-property-content{
    width: 50%;
}
.latest-property-image-wrapper{
    width: 50%;
}

.latest-property-image-container{
    border-radius: 50%;
    box-shadow: -10px 4px 20px 0px #989898;
    overflow: hidden;
    padding: 2em 6em;
    height: 27em;
    width: 23em;
}
.latest-property-image{
    height: 29em;
    width: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.latest-property-desc>p{
    padding-top: 0.5em;
    line-height: 1.4;
}
.services-section{
    text-align: center;
    background: #ececec;
    padding: 5em 8em 5em;
}
.view-details-btn{
    margin-top: 1em;
}
.view-details-arrow{
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
}
.services-content-wrapper{
    width: 100%;
}
.services-title-container{
    padding-bottom: 2em;
}
.each-service{
    width: calc(25% - 2em);
    margin: 1em;
    flex-shrink: 0;
    min-width: 8em;
}
.service-icon{
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    height: 100px;
    line-height: 100px;
    width: 100px;
    background-color: #363636;
}
.service-title{
    padding: 1em 0;
    font-weight: 600;
    font-size: 1.3em;
}
.service-desc{
    line-height: 1.5;
}
.projects-section{
    width: 100%;
    min-height: 26em;
    background-image: url('../../../assets/background-images/projects-background.jpg');
    background-size: cover;
    background-position:center center;
    background-attachment: fixed;
    padding: 5em;
}
.project-section-title-container{
    text-align: center;
    padding-bottom: 2em;
}
.view-projects-btn{
    margin-top: 2em;
}
.testimonial-title-container{
    text-align: center;
}
.left-arrow-btn, .right-arrow-btn{
    height: 1em;;
}
.client-testimonial-section{
    min-height: 27em;
    padding: 2em 4em;
    background-image: url('../../../assets/background-images/vass.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.client-testimonial-section .section-title{
    color: #fff;
    text-shadow: 1px 1px 10px #bcbcbc;
}
.carousel-wrapper{
    height: 19em;

}
.carousel{
    height: 100%;
    width: 60%;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.carousel-content{
    height: 100%;
    width: 20em;
    margin: auto;
    background-color: rgba(0,0,0, 0.6);
    color: #fff;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.testimonial-text{
    padding-bottom: 1em;
}
.client-name{
    padding-top:0.3em;
    border-top: solid #fff 1px;
}
.footer-section{
    padding: 4em;
    background: #353535;
    color: #ffffff;
}
.footer-part{
    /* margin:0 1em; */
    width: calc(33.33% - 4em);
    flex-shrink: 0;
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.map{
    width: 30em;
    height: 100%;
    border: none;
    border-radius: 2px;
}
.address-container{
    font-size: 1.2em;
}
.address-container>div{
    padding-bottom: 0.5em;
}
.address-container>div:last-child{
    padding-bottom: 0;
}

@media only screen and (max-width: 780px){
    .overlay-text-container{
        transform: translate(0,0);
        width: 100%;
        padding: 1em;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .page-caption{
        font-size: 3em;
        color: #353535;
        font-family: poppins-bold;
        text-align: center;
    }
    .learn-more-btn{
        padding: 0.5em 1em;
    }
    .see-properties-btn{
        padding: 0.5em 1em;
    }
    .welcome-caption{
        text-align: center;
    }
    .section-wrapper{
        width: 100%;
        padding: 1em;

    }
    .section-wrapper>div{
        width: 100%;
        padding: 1.5em 0;
    }
    .services-section{
        padding: 2em    ;
    }
    .services-content-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }
    .each-service{
        min-width: none;
        width: 100%;
        margin: 1em 0;
    }
    .each-service .service-title{
        padding-bottom: 0.5em;
    }
    .project-section{
        min-height: 23em;
        padding: 4em;
    }
    .client-testimonial-section{
        padding: 2em 1em;
    }
    .carousel{
        width: 100%;
    }
    .footer-section{
        padding: 2em;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .footer-part{
        width: 100%;
        margin: 0;
        padding-bottom: 2em;
    }
    .map{
        width: 100%;
    }
}